@import '/src/style/setting.scss';

.hide {
    display: none;
}

.hide-transition {
    display: block;
    background-color: #F6F6F6;
    margin-top: 0px;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    animation-name: glissement-2;
    animation-duration: 1s;
    transition-property: display;
}

.active-description {

    display: block;
    background-color: #F6F6F6;
    margin-top: 0px;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    animation-name: glissement;
    animation-duration: 950ms;


}

@keyframes glissement-2 {
    from {
        margin-top: 0px;

        padding-top: 20px;
        font-size: 18px;
    }

    to {
        margin-top: -54px;

        padding-top: 0px;
        font-size: 0px;

    }
}

@keyframes glissement {
    from {
        margin-top: -24px;

        padding-top: 0px;
        font-size: 0px;

    }

    to {
        margin-top: 0px;

        padding-top: 20px;
        font-size: 18px;
    }
}

.collapse {
    position: relative;
    z-index: 2;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    background-color: #FF6060;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    align-items: center;

    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 5px 5px;
    }

    img {
        cursor: pointer;
        position: absolute;
        right: 20px;

    }

}

.up {
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 1s;
}

.down {
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 1s;
}