
.hide {
    display: none;
}

.hide-transition {
    display: block;
    background-color: #F6F6F6;
    margin-top: 0px;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    animation-name: glissement-2;
    animation-duration: 1.1s;
    transition-property: display;
}

.active-description {

    display: block;
    background-color: #F6F6F6;
    margin-top: 0px;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    animation-name: glissement;
    animation-duration: 950ms;


}

@keyframes glissement-2 {
    from {
        margin-top: 0px;

        padding-top: 20px;
       line-height: 1.43;
    }

    to {
        margin-top: -50px;

        padding-top: 0px;
         line-height: 0;

    }
}

@keyframes glissement {
    from {
        margin-top: -54px;
        padding-bottom: 0px;
        line-height: 0;

        padding-top: -20px;
        

    }

    to {
        margin-top: 0px;
        padding-bottom: 20px;
        line-height: 1.43;

        padding-top: 20px;
       //font-size: 18px;
    }
}

.collapse {
    position: relative;
    z-index: 2;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    background-color: #FF6060;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    align-items: center;

    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 5px 5px;
        font-family: 'Montserrat', sans-serif;
    }

    img {
        cursor: pointer;
        position: absolute;
        right: 20px;

    }

}

.up {
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 1s;
}

.down {
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 1s;
}

@media(max-width:767px){
    .collapse{
        margin-top: 20px;
        h2{
            font-size: 13px;
        }
        img{
            width: 16px;
        }
        
    }
    .active-description{
        font-size: 12px;
    }
    @keyframes glissement-2 {
        from {
            margin-top: 0px;
    
            padding-top: 20px;
            font-size: 12px;
        }
    
        to {
            margin-top: -50px;
    
            padding-top: 0px;
            font-size: 0px;
    
        }
    }
    
    @keyframes glissement {
        from {
            margin-top: -20px;
    
            padding-top: 0px;
            font-size: 0px;
    
        }
    
        to {
            margin-top: 0px;
    
            padding-top: 20px;
            font-size: 12px;
        }
    }
}